.headerContain {
    background-color: rgb(177, 176, 176);
    padding-top: 20px;
    padding-bottom: 7px;
}

.navBar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.mainImage img {
    height: 573px;
}

.mainImgText img {
    height: 100px;
}